#content {
  display: flex;
  flex-direction: column;
}
#search {
  background-image: url("https://media-cdn.tripadvisor.com/media/photo-o/14/10/2e/af/india.jpg");
  height: 380px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
  line-height: 380px;
  vertical-align: middle;
}
#searchBar:focus {
  outline: none;
}
#searchBar{
  border: 1px solid transparent;
  background-color: #f1f1f1;
  padding: 10px;
  font-size: 16px;
  border-radius: 12px;
  width: 33%;
  height: 40px;
}
#view{
  margin: 20px 0;
  text-align: center;
  height: 70px;
  line-height: 70px;
  vertical-align: middle;
}
#cities {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 4%;
}
.container {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
}
.cityImage {
  height: 150px;
  width: 150px;
  border-radius: 25%;
}
.image {
  height: 150px;
  width: 150px;
  border-radius: 25%;
  box-shadow: 10px 10px 10px grey;
}
.text {
  color: #f1f1f1;
  display: none;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.image:hover {
  opacity: 0.5;
}
.container:hover .text {
  display: block;
  opacity: 1;
}
form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}