.hotels a:hover {
    color: black;
}
#content .btn-outline-primary {
    border: none;
    color: black;
}
#content .btn-outline-primary:hover {
    color: black;
    background-color: transparent;
}
#content .btn-outline-primary:focus {
    box-shadow: none;
    color: black;
}
#content .btn-outline-primary:active {
    box-shadow: none;
    color: black;
}
#content .btn-check:checked + .btn-outline-primary {
    box-shadow: none;
    color: black;
    background-color: #0d6efd;
}
#content {
    margin-top: 4%;
    text-align: center;
}

#list-view {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 6%;
    margin: 4% 4% 6% 4%;
}

#list-view img {
    height: 200px;
    width: 250px;
}

.hotels {
    margin: 2%;
    background-color: lightgrey;
    width: 100%;
    color: black;
    display: flex;
    height: 200px;
}
#clickImage {
    display: flex;
}
.hotels{
    display: flex;
    flex-direction: row;
    width: 500px;
}
.hotels a {
    text-decoration: none;
    color: black;
}
.hotelDetails {
    margin-left: 4%;
    text-align: left;
    margin-top: 4%;
}
.hotels:hover {
    background-color: rosybrown;
}

/* making list and map view visible on click */
#map-view-button:checked ~ #map-view {
    display: grid;
}
#map-view-button:checked ~ #list-view {
    display: none;
}

#list-view-button:checked ~ #list-view {
    display: grid;
}
#list-view-button:checked ~ #map-view {
    display: none;
}