/* hover effect is implements on the hotel details by changing the background color */
#loader {
  height: 100%;
  width: 100%;
}
.hotels a:hover {
  color: black;
}
#content .btn-outline-primary {
  border: none;
  color: black;
}
#content .btn-outline-primary:hover {
  color: black;
  background-color: transparent;
}
#content .btn-outline-primary:focus {
  box-shadow: none;
  color: black;
}
#content .btn-outline-primary:active {
  box-shadow: none;
  color: black;
}
#content .btn-check:checked + .btn-outline-primary {
  box-shadow: none;
  color: black;
  background-color: #0d6efd;
}
#content {
  margin-top: 2%;
  text-align: center;
}

#list-view {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 2%;
  grid-row-gap: 3%;
  margin: 2% 2% 10% 2%;
  height: auto;
}

#list-view img {
  height: 200px;
  width: 250px;
}

.hotels {
  background-color: lightgrey;
  width: 95%;
  color: black;
  display: flex;
  height: 200px;
  display: flex;
  flex-direction: row;
  width: 100%;
}
.clickImage {
  display: flex;
}
.hotels a {
  text-decoration: none;
  color: black;
}
.hotelDetails {
  margin-left: 4%;
  text-align: left;
  margin-top: 4%;
}
.hotels:hover {
  background-color: rosybrown;
}
#map-view {
  margin-top: 15px;
  height: 600px;
  width: 100%;
}
/* making list and map view visible on click */
#map-view-button:checked ~ #map-view {
  display: grid;
  width: 100%;
}
#map-view-button:checked ~ #list-view {
  display: none;
}

#list-view-button:checked ~ #list-view {
  display: grid;
}
#list-view-button:checked ~ #map-view {
  display: none;
}
.fill {
  color: orange;
}
@media only screen and (max-width: 575px) {
  #list-view {
    grid-template-columns: 100%;
  }
}
