/* top border is colored differently and is animated to get the loading screen */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#loader {
  position: fixed;
  top: 40%;
  left: 45%;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: 12px solid #f3f3f3;
  border-top-color: #444444;
  animation: spin 1s infinite linear;
}
