#radissonHotel{
    height: 500px;
    width: 500px;
}
#hotel{
    background-color: rgb(132,136,139);
    width: 50%;
    height: 20%;
    margin: 2% auto;
}
#customerInfo{
    margin: 2%;
}
#tariff{
    margin: 2%;
    border: 1px black solid;
    border-radius: 5px;
    padding: 1% 2%;
}
#payButton{
    margin-bottom: 3%;
}